rerun_workflow.sh
st_Prot_ref_UMAP_BASE6+XY_nc48.h5ad
.fuse*
.local
.apptainer
.DS_Store
*.sh.*
*/.nfs*

*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
.java
.cache
.fontconfig
.snakemake
data
output
report
logs
benchmarks
plot/hpbase
plot/echinobase
.conda
cache_dir
